{{!-- <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head> --}}

  <html lang="en">
  
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css" integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>infprofile</title>
  </head>
  <body>
    {{>navbar data = details}}
       
 

           
           {{!-- Influancer profile  --}}



<div class="container">
  <div class="row">
    <h5 class="section-title h1 text-center hd" >OUR INFLUANCER</h5>
{{#each influancer}}

    <div class="col-md-4">
      <div class="card">
        <div class="photo">
          
        <img src="{{this.iurl}}" alt="">
        <div class="photos">Profile</div>
      </div>
      <div class="content">
        <p class="txt4">{{this.iname}}</p>
        <p class="txt5"></p>
        <p class="txt2">{{this.description}}</p>
      </div>
      <div class="footer">
           {{!-- c = chanel url  --}}
        <p><a href="{{this.curl}}">
  <button type="button" class="btn btn-primary my-btn">Visit</button>
</a></a><a
            id="heart"
          ><span class="like">{{this.icity}}</span></a></p>

        <p class="txt3"><i class="far fa-clock"></i>Age - {{this.iage}}
          <span class="comments"><i class="fas fa-comments"></i>50+ Add..</span></p>

      </div>
      </div>
    </div>
{{/each}}

  </div>
</div>


        {{!-- influancer profile end  --}}










    <script>
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous";
      $(document).ready(function(){ document.getElementById("heart").onclick =
    function(){ document.querySelector(".fa-gratipay").style.color = "#E74C3C";
    }; });
    </script>
  </body>
</html>
<style>
  body{ margin: 0; padding: 0; font-family: 'roboto' , sans-serif;
  background-color: #F2F2F2; } h1{ text-align: center; color: #333333; }
  .cardcontainer{ width: 350px; height: 500px; background-color: white;
  margin-left: auto; margin-right: auto; transition: 0.3s; }
  .cardcontainer:hover{ box-shadow: 0 0 45px gray; } .photo{ height: 300px;
  width: 100%; } .photo img{ height: 100%; width: 100%; } .txt1{ margin: auto;
  text-align: center; font-size: 17px; } .content{ width: 80%; height: 100px;
  margin-left: auto; margin-right: auto; position: relative; top: -33px; }
  .photos{ width: 90px; height: 30px; background-color: #E74C3C; color: white;
  position: relative; top: -30px; padding-left: 10px; font-size: 20px; } .txt4{
  font-size:27px; position: relative; top: 33px; } .txt5{ position: relative;
  top: 18px; color: #E74C3C; font-size: 23px; } .txt2{ position: relative; top:
  10px; } .cardcontainer:hover > .photo{ height: 200px; animation: move1 0.5s
  ease both; } @keyframes move1{ 0%{height: 300px} 100%{height: 200px} }
  .cardcontainer:hover > .content{ height: 200px; } .footer{ width: 80%; height:
  100px; margin-left: auto; margin-right: auto; background-color: white;
  position: relative; top: -15px; } .btn{ position: relative; top: 20px; }
  #heart{ cursor: pointer; } .like{ float: right; font-size: 22px; position:
  relative; top: 20px; color: #333333; } .fa-gratipay{ margin-right: 10px;
  transition: 0.5s; } .fa-gratipay:hover{ color: #E74C3C; } .txt3{ color: gray;
  position: relative; top: 18px; font-size: 14px; } .comments{ float: right;
  cursor: pointer; } .fa-clock, .fa-comments{ margin-right: 7px; }


    .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  }
  .hd{
    color: rgb(25, 185, 52);
  }
</style>